@import url('https://fonts.googleapis.com/css?family=Kumar+One+Outline&display=swap&subset=latin-ext');

code {
  font-family: Arial, Helvetica, sans-serif,
    monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d3436;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}